body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#newPost{
	position: absolute;
	right: 0;
	top: 0px;
}

#header{
	position: relative;
	height: 120px;
}

img{
	max-width: 100%;
}

#newPost{
	border-radius: 70px;
	height: 70px;
	width: 70px;
}



