<!doctype html>
<html ng-app="wtBlogApp" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Web Team Blog</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js"></script>
	<script src="javascripts/blog.js"></script>
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
	<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
	<link rel="stylesheet" href="stylesheets/monokai.css">
	<link rel="stylesheet" href="stylesheets/style.css">

</head>
<body>

	<div class="container" ng-controller="BlogCtrl">
		<div class="row">
			<div id="header" class="col-xs-12">
				<a href="/"><img src="images/wtblog_logo@2x.png" width="137" height="90"></a>
				<button id="newPost" class="btn btn-default" ng-click="showPostForm()"><span class="glyphicon glyphicon-pencil"></span></button>
			</div>
		</div>
		<div>
			<form ng-submit="post()" ng-show="postForm">
				<input type="hidden" ng-model="oid">
				<p>{{message}}</p>
		        <input class="form-control" type="text" ng-model="name"  size="30" placeholder="名前" required>
		        <input class="form-control" type="text" ng-model="title"  size="30" placeholder="タイトル" required>
		        <textarea class="form-control" ng-model="content" id="" cols="30" rows="10" required></textarea>
		        <input class="form-control btn-primary" type="submit" value="投稿">
		    </form>
			<div ng-repeat="item in data">
				<h1>{{item.title}} by {{item.user}}
				<!-- Single button -->
				<div class="btn-group">
				<button type="button" class="btn btn-default" ng-click="sasuga(item._id)"><span class="glyphicon glyphicon-thumbs-up"></span>さすが({{item.sasuga}})</button>
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="glyphicon glyphicon-list"></span><span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li ng-click="edit(item)"><a href="#">編集</a></li>
					<li ng-click="delete(item._id)"><a href="#">削除</a></li>
				</ul>
				</div>
				</h1>
				<div ng-bind-html-unsafe='item.rendered'></div>
				<hr>
			</div>

			<p>(C) IPL WebTeam</p>
		</div>
	</div>

</body>
</html>
